<div class="side-nav">
    <!-- routerLinkActiveOptions takes an object in where you can tell it to only apply the active class if we're on exactly the home page -->
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home Page
    </a>
    <a routerLink="content" routerLinkActive="active">
      Content List
    </a>
    <div class="side-nav-child">
      <a routerLink="content/42" routerLinkActive="active">
        T O M A T O
      </a>
    </div>
    <a routerLink="pagewillnotbefound" routerLinkActive="active">
      Invalid page link
    </a>
  </div>
  <div id="content-wrapper">
    <router-outlet></router-outlet>
  </div>


<!-- <app-content-card></app-content-card>
<app-content-list></app-content-list>
<app-app-messages></app-app-messages> -->