<h1 matDialogTitle>Add Animal</h1>
<mat-form-field>
    <mat-label>id:</mat-label>
    <input matInput  disabled #id>
</mat-form-field>

<mat-form-field>
    <mat-label>Title:</mat-label>
    <input matInput #title>
</mat-form-field>

<mat-form-field>
    <mat-label>Description:</mat-label>
    <input matInput #description>
</mat-form-field>

<mat-form-field>
    <mat-label>Creator:</mat-label>
    <input matInput #creator>
</mat-form-field>

<mat-form-field>
    <mat-label>imgURL:</mat-label>
    <input matInput #imgURL>
</mat-form-field>

<mat-form-field>
    <mat-label>Type:</mat-label>
    <input matInput #type>
</mat-form-field>

<div id="button">
    <button mat-raised-button mat-dialog-close color="primary" (click)="addContent(title.value,description.value,creator.value,imgURL.value,type.value)">Add Food Item</button>
    <button mat-raised-button mat-dialog-close color="accent" >CLOSE</button>
</div>

<!-- (click)="updateContent(id.value,title.value,description.value,creator.value,imgURL.value,type.value)" --> -->